/* default styles and background img */
body {
    background: url(../images/gravel.png);
    color: #777 ;
    font-family: 'Arial', 'helvetica Neue', Helvetica, sans-serif;
    min-height: 100%;
}
/* Teal background white text */
.tealWhite{
  background-color: #4aaaa5; 
  color: #fff;
  font-family: 'Arial', 'helvetica Neue', Helvetica, sans-serif;
}

/* clearing floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Main Header */
/* This is the header background */
.mainHeaderBox {
  background-color: #fff;
  border-color: #ccc;
  /* border-bottom-color: black; */
  border-bottom-width: 4px;
  border-bottom-style: solid;
  /* background-color: red; */
  width: 100%;
  height: 94px;
  /* height: 15%; */
  position: absolute;
  top: 0;
  left:0;
}
/* This section aligns the header elements with the Main Content Box */
.mainHeader {
  /* background-color: yellow; */
  background-color: #fff;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  width: 960px;
  position: absolute;
  height: 100%;
  left: 50%;
  margin-left: -480px;
  
}
/* lines up Main Header elements and sizes them */
.navEle{
  height: 90px;
  float: left;
  display: flex;
  align-items: flex;
  line-height: 1.6;
  
}

#myName {
  /* background-color: #4aaaa5; 
  color: #fff; */
  width: 150px;
  /* to line myName text with contentHead text */
  padding-left: 30px;
  padding-right: 30px;
  background: #4aaaa5;
  height: 100%;
  
}

#links {
  position: absolute;
  right: 0;
  /* top: 50%; */
}

/* lines up text of link section with myName */
nav {
  position: relative;
  top: 37px;
}

/* Changes link styling */
a:link, a:visited {
  text-decoration: none;
  color: #777 ;
  font-family: 'Arial', 'helvetica Neue', Helvetica, sans-serif;
}
/* a:hover {

} */

/* Main Content Box */
.contentBox {
  background-color: #fff;
/* 4+26+900+26+4 = 960 */
  border: 4px solid #ddd;
  width: 900px;
  padding-left: 26px;
  padding-right: 26px;
/* centers box */
  position: absolute;
  /* margin-top: 100px; */
  margin-bottom: 100px;
  /* change top to pixels to keep space between box and header consistant*/
  top: 120px;
  bottom: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  /* overflow: auto; */
}

/* heights for each content box */

#aboutBox {
  height: 400px;
}

#portfolioBox {
  height: 560px
}

#contactBox {
  height: 470px
}

.contentHead {
  color: #4aaaa5;
  border-bottom: 4px solid #ddd;
}

#profilePic {
  float: left;
  margin-right: 10px;
}

/* contact form */

.formSpace{
  width: 900px;
}

.submit{
  background-color: #4aaaa5;
  color:#fff;
  border: none;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
}

/* portfolio objects */

.projectObject {
  float: left;
  width: 200px;
  height: 200px;
  margin: 50px, 20px;
  text-align: center;
  /* background-color:black; */
}
 /* adjust positioning of porfolio labels */
.portLabel { 
  position: relative;
  top: 70%;
  margin-bottom: 20px;
  padding: 5px;
}
/* adding background images */

#PO1 {
  background-image: url(../images/port1.jpg);
}

#PO2 {
  background-image: url(../images/port2.jpg);
}

#PO3 {
  background-image: url(../images/port3.jpg);
}

#PO4 {
  background-image: url(../images/port4.jpg);
}

#PO5 {
  background-image: url(../images/port5.jpg);
}

#PO6 {
  background-image: url(../images/port6.jpg);
}

/* Footer */
footer {
  background-color: #666;
  width: 100%;
  /* height: 60px; */
  height: 8%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  border-top: 8px solid #4aaaa5;
}